.bg-yns {
    --bs-bg-opacity: 1;
    background-color: #db0c34;
}
.sidebar .user-info {
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    background: linear-gradient(to right, #f53d62, #f76e89);
    height: 135px; }
.sidebar .user-info .user-container {
    margin-right: 12px;
    display: inline-block; }
    .sidebar .user-info .user-container img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      /* margin-top: 25px; */
      /* vertical-align: bottom !important;  */
    }
    .sidebar .user-info .info-container .name {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
        max-width: 200px;
        color: #fff; }
      .sidebar .user-info .info-container .info-header {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        max-width: 200px;
        color: #fff; }
  